require("dotenv/config");

module.exports = {
  type: "postgres",
  host: "",
  port: 5432,
  username: "test",
  password: "test",
  database: "test",

  url: "",

  entities: ["./src/modules/**/entities/*.ts"],
  migrations: ["./src/shared/infra/typeorm/migrations/*.ts"],
  cli: {
    migrationsDir: "./src/shared/infra/typeorm/migrations",
  },
  synchronize: false,
  extra: {
    ssl: {
      rejectUnauthorized: false,
    },
  },
};
